* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #0b3c5d;

  }
#container {    position: relative;
    min-width: 45%;
    padding: 30px; 
    border-radius: 5px;
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.1);
    color: rgba(black, 0.7);
  
    background-image: repeating-linear-gradient(
      180deg, 
      darken(#fff, 10%), 
      darken(#fff, 10%) 1px, 
      #fff 1px,
      #fff 30px
    );

}
.list {
    position: relative;
  min-width: 45%;
  padding: 30px; 
  border-radius: 5px;
  box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.1);
  color: rgba(black, 0.7);

  background-image: repeating-linear-gradient(
    180deg, 
    darken(#fff, 10%), 
    darken(#fff, 10%) 1px, 
    #fff 1px,
    #fff 30px
  );
}
  




 


   