* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;

  }

  



  #header{
    padding: 1%;
    display: flex;
    justify-content: center;
    font-size: 91px;
}
 


   