* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    background-color: skyblue;
    color: white;
    font-family: "";
    min-height: 100vh;
}
.form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.list {
    display: flex;
    justify-content: center;
    align-items: center;


}

.todo-list{
    list-style: none;
    min-width: 30%;
}
.list {
    margin:0.5rem;
    background: white;
    color:black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#input {
    padding: 0.5rem;
    font-size:2rem;
    border:none;
    background: white;

}
.button {
    padding: 0.5rem;
    font-size:2rem;
    border:none;
    background: white;
}

.button:hover{

}

#task {
    margin: 0.5rem;
    background:white;
    color:black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex:1;


}